#requirements.txt
pip install --snowflake-snowpark-python
pip install --streamlit
pip install --requests

# New sectino to displlay smoothiefroot nutrition information
import requests
smoothiefroot_response = requests.get("https://my.smoothiefroot.com/api/fruit/watermelon")
st.text(smoothiefroot_response)
